# Profile
[user]
    name = Sasindu Jayasinghe
    email = sasindu.jayasinghe@gmail.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINVp0oR1IFN2Ro2wYJZeyKxlSzFCPqq9OtNucj2K1kFf

[gpg]
    format = ssh

[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
    gpgsign = true


# Git Preferences
[column]
    ui = auto

[branch]
    sort = -committerdate

[tag]
    sort = version:refname

[init]
    defaultBranch = main

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[push]
    autoSetupRemote = true
    followTags = true

[fetch]
    prune = true
    pruneTags = true
    all = true

[pull]
    rebase = true

[rerere]
    enabled = true
    autoupdate = true

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true


# Delta Preferences
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    line-numbers = true
    side-by-side = true
    map-styles = bold purple => syntax "#330f29", bold cyan => syntax "#271344"

[merge]
    conflictstyle = diff3


# Git LFS
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true


# Aliases
[alias]
    # Logging
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg3 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue) %h%C(reset)%C(bold red)%d%C(reset)%n''%C(bold cyan)%<(80,trunc)󰦨 %s%C(reset)%n''%C(magenta) %an • %ae%n''%C(dim white) %ar%n'
    lg = !"git lg3"
    lgo = log --decorate --format='%C(blue)%h%C(reset) %C(cyan)%s%C(reset)%C(bold red)%d%C(reset)'

    # Worktrees
    wta = "!f() { root=$(git rev-parse --show-toplevel); repo=$(basename \"$root\"); name=${1##*/}; git worktree add -b \"$1\" \"$root/../worktrees/$repo/$name/$repo\" ${2:-HEAD}; }; f"
    wtr = "!f() { root=$(git rev-parse --show-toplevel); repo=$(basename \"$root\"); name=${1##*/}; git worktree remove \"$root/../worktrees/$repo/$name/$repo\"; }; f"
    wtl = "!f() { git worktree list; }; f"

    # Helpers
    undo = reset HEAD~1
    discard = checkout --
    sync = !"git fetch origin $1:$1"
    fix = "!git lgo --color --no-merges -n 50 | fzf --ansi --no-preview --height=40% --reverse | grep -oE '[a-f0-9]{7,}' | head -1 | xargs -r git commit --fixup"
