"" Base Settings
"" ========================================================

let mapleader = " "

" General settings
set scrolloff=10
set linenumber
set relativenumber
set showmode
set showcmd
set visualbell
set clipboard+=unnamed
set notimeout
set ideajoin

" Search improvements
set ignorecase
set smartcase
set incsearch
set hlsearch


"" Plugin Settings
"" ========================================================
set surround
set highlightedyank 
set sneak " https://plugins.jetbrains.com/plugin/15348-ideavim-sneak 
set nerdtree
set which-key " https://plugins.jetbrains.com/plugin/15976-which-key

" Which-key settings
let g:WhichKey_FontSize = 16
let g:WhichKey_CommandColor = "#41ead4"
let g:WhichKey_PrefixColor = "#f335b2"
let g:WhichKey_SortOrder = "by_key_prefix_first"

let g:WhichKeyDesc_leader = "<leader> Leader key"

let g:WhichKeyDesc_leader = "<leader>e Open file explorer"

let g:WhichKeyDesc_copy = "<leader>c Copy path / reference"
let g:WhichKeyDesc_copy_absolute = "<leader>ca Absolute path"
let g:WhichKeyDesc_copy_name = "<leader>cn File name"
let g:WhichKeyDesc_copy_root = "<leader>cr From content root"

let g:WhichKeyDesc_window = "<leader>w Window splits"
let g:WhichKeyDesc_window_split_vertically = "<leader>wv Split vertically"
let g:WhichKeyDesc_window_split_horizontally = "<leader>wh Split horizontally"
let g:WhichKeyDesc_window_split_unsplit = "<leader>wu Unsplit"
let g:WhichKeyDesc_window_split_move_editor = "<leader>wm Move editor to opposite tab group"

let g:WhichKeyDesc_display = "<leader>d Display options"
let g:WhichKeyDesc_zen_mode = "<leader>dz Toggle Zen mode"
let g:WhichKeyDesc_df_mode = "<leader>dd Toggle Distraction-Free mode"
let g:WhichKeyDesc_fullscreen = "<leader>df Toggle full screen"

let g:WhichKeyDesc_action= "<leader>a Actions"
let g:WhichKeyDesc_action_context_menu = "<leader>aa Open context menu"
let g:WhichKeyDesc_action_search = "<leader>as Open command modal"
let g:WhichKeyDesc_restart_ide = "<leader>ar Restart IDE"

let g:WhichKeyDesc_file_quickLook = "<leader><leader> Show file in explorer"
let g:WhichKeyDesc_thing = "<leader>q Hide windows"

let g:WhichKeyDesc_file_nav = "<leader>f File navigation"
let g:WhichKeyDesc_file_nav_goto_file = "<leader>ff Go to file"
let g:WhichKeyDesc_file_nav_goto_content = "<leader>fc Search for file content"
let g:WhichKeyDesc_file_nav_show_recent_files = "<leader>fr Show recent files"
let g:WhichKeyDesc_file_nav_show_recent_locations = "<leader>fl Show recent locations"

let g:WhichKeyDesc_refactoring = "<leader>r Refactoring menu"
let g:WhichKeyDesc_refactoring_rename = "<leader>rn Rename element"
let g:WhichKeyDesc_refactoring_method = "<leader>rm Extract method"
let g:WhichKeyDesc_refactoring_variable = "<leader>rv Introduce variable"
let g:WhichKeyDesc_refactoring_field = "<leader>rf Introduce field"
let g:WhichKeyDesc_refactoring_signature = "<leader>rs Change signature"
let g:WhichKeyDesc_refactoring_all = "<leader>rr Open refactorings list"

let g:WhichKeyDesc_goto = "<leader>g Go to X"
let g:WhichKeyDesc_goto_declaration = "<leader>gd Go to Definition"
let g:WhichKeyDesc_goto_type_declaration = "<leader>gy Go to Type Definition"
let g:WhichKeyDesc_goto_implementation = "<leader>gi Go to Implementation"
let g:WhichKeyDesc_goto_usages = "<leader>gu Go to Usages"
let g:WhichKeyDesc_goto_test = "<leader>gt Go to Test"
let g:WhichKeyDesc_goto_back = "<leader>gb Go Back"
let g:WhichKeyDesc_goto_forward = "<leader>gf Go Forward"

let g:WhichKeyDesc_harpoon = "<leader>h Set harpoon"
let g:WhichKeyDesc_harpoon_set_one = "<leader>h1 Set harpoon 1"
let g:WhichKeyDesc_harpoon_set_two = "<leader>h2 Set harpoon 2"
let g:WhichKeyDesc_harpoon_set_three = "<leader>h3 Set harpoon 3"
let g:WhichKeyDesc_harpoon_set_four = "<leader>h4 Set harpoon 4"
let g:WhichKeyDesc_harpoon_set_five = "<leader>h5 Set harpoon 5"
let g:WhichKeyDesc_harpoon_one = "<leader>1 Harpoon 1"
let g:WhichKeyDesc_harpoon_two = "<leader>2 Harpoon 2"
let g:WhichKeyDesc_harpoon_three = "<leader>3 Harpoon 3"
let g:WhichKeyDesc_harpoon_four = "<leader>4 Harpoon 4"
let g:WhichKeyDesc_harpoon_five = "<leader>5 Harpoon 5"


" Harpoon settings
map <leader>1 <Action>(GotoHarpoon1)
map <leader>2 <Action>(GotoHarpoon2)
map <leader>3 <Action>(GotoHarpoon3)
map <leader>4 <Action>(GotoHarpoon4)
map <leader>5 <Action>(GotoHarpoon5)
map <leader>h1 <Action>(SetHarpoon1)
map <leader>h2 <Action>(SetHarpoon2)
map <leader>h3 <Action>(SetHarpoon3)
map <leader>h4 <Action>(SetHarpoon4)
map <leader>h5 <Action>(SetHarpoon5)
map <leader>hh <Action>(ShowHarpoon)

"" Key mappings
"" ========================================================

" Pane navigation
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-k> <C-w>k
nnoremap <C-j> <C-w>j

" Jump between methods
nnoremap [[ <Action>(MethodUp)
nnoremap ]] <Action>(MethodDown)

" Easy visual indentation
vnoremap < <gv
vnoremap > >gv

map <S-l> <Action>(NextTab)
map <S-h> <Action>(PreviousTab)

"" Leader commands
"" ========================================================

map <leader>q <Action>(HideAllWindows)

" Copy Path
map <leader>ca <Action>(CopyAbsolutePath)
map <leader>cn <Action>(CopyFileName)
map <leader>cr <Action>(CopyContentRootPath)

" Open NERDTree (use q to exit)
map <leader>e :NERDTreeToggle<CR>

" Window splits
map <leader>wv <Action>(SplitVertically)
map <leader>ws <Action>(SplitHorizontally)
map <leader>wu <Action>(Unsplit)
map <leader>wm <Action>(MoveEditorToOppositeTabGroup)

" Display options
map <leader>dd <action>(ToggleDistractionFreeMode)
map <leader>dz <action>(ToggleZenMode)
map <leader>df <action>(ToggleFullScreen)

" Actions
map <leader>aa <action>(ShowIntentionActions)
map <leader>as <action>(SearchEverywhere)
map <leader>ar <action>(RestartIde)
map <S-k> <Action>(ShowHoverInfo)

" File navigation
map <leader>ff <action>(GotoFile)
map <leader>fr <action>(RecentFiles)
map <leader>fc <action>(FindInPath)
map <leader><leader> <Action>(SelectInProjectView)
map <leader>fl <action>(RecentLocations)
map <leader>fs <action>(NewScratchFile)

" Refactoring
map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)

" Go to code
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gu <Action>(ShowUsages)
nmap <leader>gt <Action>(GotoTest)
nmap <leader>gf <Action>(Forward)
nmap <leader>gb <Action>(Back)
