""" GENERAL """

" set leader
let mapleader = ' '
" redo
noremap U <C-r>
" copy from cursor to end of line
noremap Y y$
" sync Vim clipboard with OS clipboard
set clipboard^=unnamed,unnamedplus
" jump between angle brackets
set matchpairs+=<:>
" smart line joining
set ideajoin
" relative number
set relativenumber


""" SEARCH """

" highlight search results
set hlsearch
" case-insensitive search
set ignorecase
" enable case-sensitive search when uppercased letter is present
set smartcase
" search while typing
set incsearch
" remove search highlights
nnoremap <Esc> :nohlsearch<cr>


""" IDEAVIM CONFIG """

" open config
noremap <leader>cc :edit ~/.ideavimrc<cr>
" source config
noremap <leader>cs :source ~/.ideavimrc<cr>:nohlsearch<cr>


""" TAB NAVIGATION """

map <tab> <Action>(NextTab)
map <S-tab> <Action>(PreviousTab)


""" SPLIT ACTIONS / NAVIGATION """

" go to the left split
map <A-h> <C-w>h
" go to the bottom split
map <A-j> <C-w>j
" go to the top split
map <A-k> <C-w>k
" go to the right split
map <A-l> <C-w>l
map <leader>wv <Action>(SplitVertically)
map <leader>wh <Action>(SplitHorizontally)
map <leader>ww <Action>(Unsplit)
map <leader>wa <Action>(UnsplitAll)
map <leader>wq <Action>(HideAllWindows)


""" COMMAND PALLETE """

map <leader>sc <Action>(GotoClass)
map <leader>sf <Action>(GotoFile)
map <leader>ss <Action>(GotoSymbol)
map <leader>sa <Action>(GotoAction)


""" SYMBOL NAVIGATION """

" map <leader>gd <Action>(GotoDeclaration)
map <leader>gy <Action>(GotoTypeDeclaration)
map <leader>gi <Action>(GotoImplementation)
map <leader>go <Action>(GotoSuperMethod)
map <leader>gt <Action>(GotoTest)


""" FIND """

map <leader>fu <Action>(FindUsages)
map <leader>su <Action>(ShowUsages)
map <leader>oo <Action>(FileStructurePopup)
map <leader>fi <Action>(Find)
map <leader>fo <Action>(Replace)
map <leader>ff <Action>(FindInPath)
map <leader>fr <Action>(ReplaceInPath)


""" POPUPS """

map <leader>qi <Action>(QuickImplementations)
map <leader>qu <Action>(QuickTypeDefinition)
map <S-k> <Action>(ShowHoverInfo)


""" REFACTORING """

map <leader>rr <Action>(Refactorings.QuickListPopupAction)
map <leader>rn <Action>(RenameElement)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rs <Action>(ChangeSignature)


""" CODE ACTIONS """

map <leader>aa <Action>(ShowIntentionActions)
map <leader>sw <Action>(SurroundWith)
map <S-space> <Action>(Generate)
" map <C-j> <Action>(MoveLineDown)
" map <C-k> <Action>(MoveLineUp)
" map <C-i> <Action>(MoveStatementDown)
" map <C-o> <Action>(MoveStatementUp)


""" JUMPING """

map <leader>en <Action>(GotoNextError)
map <leader>ep <Action>(GotoPreviousError)
map <leader>lc <Action>(JumpToLastChange)
map <leader>ll <Action>(RecentLocations)
map <C-;> <Action>(RecentFiles)
map <A-[> <Action>(MethodUp)
map <A-]> <Action>(MethodDown)


""" FORMATTING """ 

map <leader><leader> <Action>(SelectInProjectView)
map <leader>oi <Action>(OptimizeImports)
map <leader>ra <Action>(RearrangeCode)


""" COPY PATH """

map <leader>ca <Action>(CopyAbsolutePath)
map <leader>cn <Action>(CopyFileName)
map <leader>cp <Action>(CopyContentRootPath)


""" IDEA ACTIONS """

map <leader>fs <Action>(NewScratchFile)
map <leader>nf <Action>(NewFile)
map <leader>nd <Action>(NewDir)
map <leader>re <Action>(RenameFile)
map <leader>of <Action>(OpenFile)
map <leader>ri <Action>(RestartIde)


""" PLUGINS """
set NERDTree
set idearefactormode=keep
set which-key
set notimeout


""" HARPOONIJ """

map <leader>1 <Action>(GotoHarpoon1)
map <leader>2 <Action>(GotoHarpoon2)
map <leader>3 <Action>(GotoHarpoon3)
map <leader>4 <Action>(GotoHarpoon4)
map <leader>5 <Action>(GotoHarpoon5)
map <leader>h1 <Action>(SetHarpoon1)
map <leader>h2 <Action>(SetHarpoon2)
map <leader>h3 <Action>(SetHarpoon3)
map <leader>h4 <Action>(SetHarpoon4)
map <leader>h5 <Action>(SetHarpoon5)
map <leader>hh <Action>(ShowHarpoon)
