@import "../omarchy/current/theme/waybar.css";

* {
  color: @foreground;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 15px;
}

window#waybar {
  all:unset
}

.modules-left {
  margin:10 0 0 10;
  border-radius:10px;
  background: alpha(@background,.6);
}

.modules-center {
  margin:10 0 0 0;
  border-radius:10px;
  background: alpha(@background,.6);
}

.modules-right {
  margin:10 10 0 0;
  border-radius:10px;
  background: alpha(@background,.6);
}

tooltip {
  background:@background;
}

#workspaces button {
  all: unset;
  margin: 10px 15px;
}

#workspaces button.empty {
  opacity: 0.5
}

#clock{
  all: unset;
  margin: 10px 15px;
}

#custom-update {
  all: unset;
  margin: 10px 15px;
}

#custom-screenrecording-indicator {
  all: unset;
  margin: 10px 15px;
}

#tray-expander {
  all: unset;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px
}

#tray {
  all: unset;
  margin-left: 20px;
}

#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio {
  all: unset;
  margin: 10px 15px;
}
