<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.urlimport.BB137AC9-5B73-470A-B511-BDE6FEFA1E3E</string>
	<key>lightthemeuid</key>
	<string>theme.urlimport.E907DF78-F6C6-4512-85CA-A79BAD472FAB</string>
</dict>
</plist>
