# Profile
[user]
    name = Sasindu Jayasinghe
    email = sasindu.jayasinghe@gmail.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINVp0oR1IFN2Ro2wYJZeyKxlSzFCPqq9OtNucj2K1kFf

[gpg]
    format = ssh

[gpg "ssh"]
    program = "/mnt/c/Users/sasin/AppData/Local/1Password/app/8/op-ssh-sign-wsl"

[commit]
    gpgsign = true


# Git Preferences
[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    autoSetupRemote = true

# Delta Preferences
[core]
    pager = delta
    sshCommand = ssh.exe

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    line-numbers = true
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default


# Git LFS
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true


# Aliases
[alias]
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg3 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue) %h%C(reset)%C(bold red)%d%C(reset)%n''%C(bold cyan)%<(80,trunc)󰦨 %s%C(reset)%n''%C(magenta) %an • %ae%n''%C(dim white) %ar%n'
    lg = !"git lg3"
    undo = reset HEAD~1
    discard = checkout --
    sync = !"git fetch origin $1:$1"
