<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.urlimport.CCCBD7E2-5E92-4F5F-B148-D531AA368B2A</string>
	<key>lightthemeuid</key>
	<string>theme.urlimport.82314501-2B77-4DCA-9EA7-5994FCF9FF6F</string>
</dict>
</plist>
