<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.custom.25D02EF3-4F56-493F-A0CB-4B64FEE24910</string>
	<key>lightthemeuid</key>
	<string>theme.custom.9CBC59C1-19D9-46B6-AFAE-4C0A48326B3D</string>
</dict>
</plist>
