<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.urlimport.2B7541ED-FD3B-4D46-B91B-2620C4714010</string>
	<key>lightthemeuid</key>
	<string>theme.urlimport.FEB20D45-91D0-450A-AFDD-4F8D6DEF65EA</string>
</dict>
</plist>
